<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>kennon@kennonb.me</string>
	<key>contactName</key>
	<string>Kennon Bickhart</string>
	<key>description</key>
	<string>Integration with task manager GoodTask.</string>
	<key>name</key>
	<string>GoodTask</string>
	<key>uuid</key>
	<string>AB295AE4-855D-42FC-80FB-749BEDFAB49E</string>
</dict>
</plist>
